<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../polymer/polymer.html">

<script src="../jquery/dist/jquery.min.js"></script>
<script src="cotton-document-viewer.js"></script>

<dom-module id="cotton-document-viewer">
    <template>
        <div id="thumbs" class="layout horizontal">
            <div id="toolbar"></div>
        </div>
        <div id="pages"></div>        
    </template>

    <style>
        :host #thumbs {
          overflow-x: scroll;
          overflow-y: hidden;
          height: 190px;
          background: #efefef;
          opacity: 0.9;
          position: fixed;
          width: 100%;
        }

        :host #toolbar {
            position: fixed;
            height: 190px;
            width: 40px;
            background: #ddd;
            z-index: 1;
            right: 0;
        }

        :host #thumbs.minimized, :host #toolbar.minimized {
            height: 120px;
            transition: height 1s;
        }

        :host #thumbs.minimized ::content .thumbItem .thumbItemImage .pageNumber {
            fons-size: ;
        }

        :host #thumbs.minimized ::content .thumbItem .thumbItemImage {
            width: 100px;
            transition: width 1s;
        }

        :host #thumbs.minimized ::content .thumbItem .thumbItemImage img {
            width: 65px;
            transition: width 1s;
        }

        :host ::content .thumbsView {
            display: block;
            border-top: 1px solid transparent;
        }

        :host #thumbs ::content .thumbItem {
          float: left;
          margin: 10px 5px;
          cursor: pointer;
        }

        :host ::content .thumbItem .thumbItemImage .pageNumber {
            float: left;
            width: 26px;
            text-align: right;
            margin-top: 1px;
        }

        :host ::content .LOADED paper-spinner {
            display: none;
        }

        :host ::content paper-spinner {
            position: absolute !important;
            left: 50%;
            top: 40%;
        }

        :host ::content .thumbItem.selected .thumbItemImage img {
            border: 2px solid blue;
        }

        :host ::content .thumbItem .thumbItemImage {
          display: block;
          margin: 0 auto;
          width: 150px;
          text-align: right;
          position: relative;
        }

        :host ::content .thumbItem .thumbItemImage,
        :host ::content .thumbItem .thumbItemImage img {
          max-width: 150px;
          max-height: 188px;
        }

        :host ::content .thumbItem .thumbItemImage img {
          border: 1px solid #000000;
          margin-top: 3px;
          vertical-align: text-top;
          width: 115px;
        }

        :host ::content #pages {
            padding-top: 210px;
        }

        :host ::content .pagesLabel {
          font-size: 15px !important;
          text-align: center;
        }

        :host ::content .pagesLabel .dialog {
          border-radius: 0px;
          border: 0px;
          margin: 0px auto;
          padding: 0px !important;
        }

        :host ::content .pagesLabel .dialog input {
          margin: 0 !important;
          margin-bottom: 5px !important;
          border: 0px;
          width: 100%;
          padding: 1px 0;
          cursor: text;
          border: 1px solid black;
          font-size: 15px;
        }

        :host ::content .pagesLabel .dialog input.active {
          border: 1px solid #99BBE8;
          background: #EFF7FF;
        }

        :host ::content .pagesLabel .dialog .accept {
          position: absolute;
          right: 0;
          margin-right: 29px;
          margin-top: -27px;
          font-size: 13px;
        }

        :host ::content .pagesLabel .dialog .clear {
          position: absolute;
          display: block;
          height: 18px;
          width: 16px;
          right: 0px;
          margin-top: -29px;
          margin-right: 4px;
          cursor: pointer;
          background: transparent url('../images/icons/clear-trigger.gif') no-repeat scroll 0px 0px;
        }

        :host ::content .pagesLabel .dialog .clear:hover {
          background-position: -17px 0px;
        }

        :host ::content .pageItem {
          margin: 0 0 20px 0;
        }

        :host ::content .pageItem div {
          margin: 0 auto;
        }

        :host ::content .pageItem .pageItemImage {
          display: block;
          border: 2px solid #000000;
          cursor: pointer;
          position: relative;
          z-index: -1;
        }

        :host ::content .pagesView {
          padding: 0px 5px;
        }

        :host ::content .pagesView span {
          color: #000000;
          padding: 10px 10px 10px 30px;
          display: block;
        }

        :host #PreviewButtons .next {
          background: url(../images/icons/next.gif);
        }

        :host #PreviewButtons .previous {
          background: url(../images/icons/previous.gif);
        }

        :host #PreviewButtons .zoomIn {
          background: url(../images/icons/zoom_in.gif);
        }

        :host #PreviewButtons .zoomOut {
          background: url(../images/icons/zoom_out.gif);
        }

        :host #PreviewButtons .page {
          width: 26px;
          text-align: center;
        }
    </style>

    <script>
        const CottonDocumentViewerDictionary = {
            es: {},
            en: {}
        }

        Polymer({
            is: 'cotton-document-viewer',
            component: null,

            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            properties: {
                documentUrl: String,
                pagePath: { type: String, value: function() { return "/page/:page"; } },
                pageThumbPath: { type: String, value: function() { return "/page/:page/thumb"; } },
                viewPort: { type: Object, value: function() { return document.body; } }
            },

            attached : function() {
                this.translate(CottonDocumentViewerDictionary);
                this._createComponent();
                this.component.load();
            },

            _createComponent : function() {
                var thumbsContainer = this.$.thumbs;
                var pagesContainer = this.$.pages;
                var toolbarContainer = this.$.toolbar;
                var language = this.getLanguage();

                this.component = new DocumentViewer(thumbsContainer, pagesContainer, toolbarContainer, language);
                this.component.setDocumentUrl(this.documentUrl);
                this.component.setDocumentPagePath(this.pagePath);
                this.component.setDocumentPageThumbPath(this.pageThumbPath);
                this.component.setViewPort(this.viewPort);
            }

        });
    </script>
</dom-module>
